a {
	color: white;
	z-index: 1;
	position: relative;
}
.login {
	visibility: hidden;
}
#gradient {
	position: fixed;
	width: 100%;
	height: 150px;
	top: 0;
	z-index: 2;
	pointer-events: none;
	-webkit-mask-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}
@supports not (-webkit-mask-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0))) {
	#gradient {
		mask: url(images/gradient-mask.svg#m);
	}
}
#wrap {
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}
@supports (-webkit-overflow-scrolling: touch) { /* iOS (http://stackoverflow.com/questions/23083462#23123845) */
	#wrap {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		-webkit-tap-highlight-color: transparent;
	}
	
	/* Scroll performance */
	body.scrolled .annotation,
	body.scrolled .arrow {
		animation-delay: 0s !important;
		animation-duration: 0s !important;
	}
	body.scrolled #fastforward {
		display: none;
	}
}
#whatisit {
	margin-top: calc(50vh - 100px);
	left: 0;
	text-align: center;
	width: 100%;
	color: #E1E7EA;
	font-size: xx-large;
	line-height: 1;
	margin-bottom: 50px;
}
.marquee {
	position: relative;
	display: inline-block;
	height: 1.2em;
	margin-bottom: -.2em;
	overflow: hidden;
	text-align: right;
	vertical-align: bottom;
	margin-left: -10px;
	padding-right: .2em;
	margin-right: -.2em;
}
.marquee-hidden {
	display: none;
}
.marquee-el {
	animation: marquee 10s infinite;
	margin-bottom: .2em;
}
@keyframes marquee {
	0% { transform: translateY(0); }
	24% { transform: translateY(0); }
	29% { transform: translateY(-120%); }
	54% { transform: translateY(-120%); }
	59% { transform: translateY(-240%); }
	84% { transform: translateY(-240%); }
	89% { transform: translateY(0); }
}
.annotation {
	animation: type 2.3s linear forwards;
	overflow: hidden;
	width: 0;
	height: 1.2em;
	word-break: break-all;
	font-size: large;
	position: absolute;
	top: 50%;
	left: 50%;
}
#annotation-1 {
	margin-top: calc(-200px + 2.6em);
	margin-left: -350px;
	animation-delay: .1s; /* Hide first character when animation hasn't started yet (on page load). */
}
#annotation-2 {
	margin-top: -200px;
	margin-left: 30px;
	animation-delay: 3.2s;
}
#annotation-3 {
	margin-top: calc(-200px + 1.3em);
	margin-left: 30px;
	animation-delay: 6s;
}
#annotation-4 {
	margin-top: calc(-200px + 2.6em);
	margin-left: 30px;
	animation-delay: 8.5s;
}
#annotation-5 {
	margin-top: -30px;
	margin-left: 100px;
	animation-delay: 11s;
}
#annotation-6 {
	margin-top: calc(-30px + 1.3em);
	margin-left: 100px;
	animation-delay: 13s;
}
#annotation-7 {
	margin-top: calc(-30px + 2.6em);
	margin-left: 100px;
	animation-delay: 14.7s;
}
#annotation-8 {
	margin-top: 57px;
	margin-left: -48px;
	animation-delay: 17s;
}
@keyframes type {
	from { width: 1ch; }
	to { width: 40ch; }
}
.arrow {
	animation: reveal 1.5s linear;
	animation-fill-mode: both;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0; /* iOS */
}
.arrow img {
	filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .6));
	height: 24px;
}
#arrow-1 {
	margin-top: -128px;
	margin-left: -127px;
	animation-delay: 2s;
}
#arrow-2 {
	margin-top: -128px;
	margin-left: 48px;
	animation-delay: 5s;
	transform: scaleX(-1);
}
#arrow-3 {
	margin-top: -62px;
	margin-left: 138px;
	animation-delay: 12s;
}
#arrow-3 img {
	transform: scale(-1);
	filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, .6));
}
#arrow-4 {
	margin-top: 28px;
	margin-left: -18px;
	animation-delay: 17s;
}
#arrow-4 img {
	transform: scaleY(-1);
	filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, .6));
}
@keyframes reveal {
	from { height: 0; }
	to { height: 90px; }
}
body.inactive .annotation,
body.inactive .arrow,
body.inactive .marquee-el {
	animation-play-state: paused;
}
#noanim {
	position: fixed;
	top: 0;
	left: 0;
}
#fastforward {
	position: absolute;
	top: 50%;
	left: 50%;
	text-decoration: none;
	margin-left: 300px;
	margin-top: 57px;
	animation: hide .5s 17s forwards;
}
#noanim:target ~ .annotation,
#noanim:target ~ .arrow,
body.noanim .annotation,
body.noanim .arrow {
	animation-delay: 0s !important;
	animation-duration: 0s !important; /* iOS */
}
body.noanim #fastforward,
#noanim:target ~ #fastforward {
	display: none;
}
#fastforward :first-child:before {
	width: 8px;
	overflow: hidden;
}
#fastforward :last-child:before {
	margin-left: -5px;
	overflow: hidden;
}
@keyframes hide {
	to { opacity: 0; visibility: hidden; }
}
#demo-bar {
	position: relative;
	top: 0;
	pointer-events: none;
}
@supports (position: sticky) {
	#demo-bar {
		position: sticky;
		z-index: 3;
	}
}
#demo-bar .bar, #demo-bar .menu {
	position: static; /* For .bar only */
	visibility: hidden;
}
#demo-bar .demo-button {
	visibility: visible;
	pointer-events: all;
	background: white;
	background: repeating-linear-gradient(-55deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .6) 10px, rgba(255, 255, 255, .8) 10px, rgba(255, 255, 255, .8) 20px);
	border-radius: 7px;
	padding: 0 16px;
	margin-right: -16px;
	display: inline-block;
	text-shadow: none;
	height: 38px;
}
#demo-bar .demo-button i:before {
	opacity: 1;
}
#contents {
	margin-top: calc(50vh - 150px);
}
.row {
	padding: 16px calc((100vw - 900px) / 2);
	margin-top: 100px;
	margin-bottom: 100px;
}
.row .img, .row p {
	margin: 0 8px 1rem;
}
.row p.title {
	font-weight: bold;
	font-size: larger;
}
.row ul {
	margin: 0 0 1rem;
}
.row .img {
	border-radius: 10px;
	width: 639px;
	height: calc(var(--height) * 1px);
	max-width: calc(100vw - 2 * 8px);
	max-height: calc((100vw - 2 * 8px) / 639 * var(--height));
	background-size: cover;
}
.row:after {
	content: '';
	clear: both;
	display: block;
}
.row:target {
	animation: highlight .5s ease-in-out 2 alternate;
}
body:not(.scrolled) .row:not(:first-child):not(:target) .img {
	background: none !important;
}
@keyframes highlight {
	from { background: rgba(255, 255, 0, 0); }
	to { background: rgba(255, 255, 0, 0.3); }
}

@media (max-width: 900px) {
	/*.bar {
		background: rgba(166, 201, 208, .8);
	}*/
	.logo, .hanger {
		display: none;
	}
	.login {
		visibility: inherit;
	}
	.menu:after {
		content: '';
		background: url(images/inverted-corner.svg);
		background-size: cover;
		width: 20px;
		height: 20px;
		opacity: .7;
		position: absolute;
		top: 0;
		right: 100%;
	}
	#gradient {
		height: 100px;
	}
	#whatisit {
		margin-bottom: 140px;
		font-size: x-large;
		transform: translateY(40px);
		width: 339px;
		margin-left: calc(50vw - 169px);
		margin-right: calc(50vw - 169px);
	}
	.annotation {
		font-size: medium;
		opacity: 0.99; /* Fix overflow: hidden on iOS. */
	}
	#annotation-1 {
		margin-top: -206px;
		margin-left: -146px;
	}
	#annotation-2, #annotation-3, #annotation-4 {
		transform: translate(-149px, 33px);
	}
	#annotation-5, #annotation-6, #annotation-7 {
		transform: translate(-245px, 44px);
	}
	#annotation-8 {
		margin-top: 161px;
		margin-left: -43px;
	}
	#arrow-1 {
		margin-top: -150px;
		margin-left: -161px;
		animation-duration: .5s;
	}
	#arrow-1 img {
		transform: scale(-1, 2);
		margin-top: 12px;
	}
	#arrow-2 {
		margin-top: -96px;
		margin-left: 80px;
		transform: none;
	}
	#arrow-3 {
		margin-top: -12px;
		margin-left: -26px;
		transform: scaleX(-1);
	}
	#arrow-4 {
		margin-top: 132px;
		margin-left: -26px;
	}
	#arrow-4 img {
		transform: scale(-1);
	}
	#fastforward {
		margin-left: 100px;
		margin-top: 157px;
	}
	#demo-bar .menu-button {
		display: none;
	}
	#demo-bar .menu {
		position: static;
		padding: 0 calc(50vw - 160px);
	}
	#demo-bar .menu li {
		display: inline-block;
	}
	#contents {
		margin-top: calc(50vh - 220px);
	}
}
@media (max-height: 600px) {
	#whatisit {
		margin-top: 200px;
	}
	.annotation, .arrow {
		top: 300px;
	}
	#contents {
		margin-top: 150px;
	}
}
@media (max-width: 900px) and (max-height: 600px) {
	#contents {
		margin-top: 80px;
	}
}