<div class="bar">
	<img class="hanger" alt="" src="/images/logo-hanger.svg">
	<a target="_top" href="/"><img class="logo" alt="Airborn" src="/images/logo.png"></a>
	<div class="menu-button needsfocus" tabindex="0" onclick=""><i class="icon-menu"></i> Menu</div>
	<ul class="menu background-before">
		<a target="_top" href="/plans"><li><i class="coins"><i class="icon-circle"></i><i class="icon-circle"></i></i> Plans</li></a>
		<a target="_top" href="/docs/security"><li><i class="icon-lock"></i> Security</li></a>
		<a target="_top" href="/demo"><li class="demo-button"><i class="icon-play"></i> Demo<span class="live">live</span></li></a>
		<a target="_top" href="/register"><li><i class="icon-new"></i> Register</li></a>
		<a target="_top" href="{{FORKME_URL}}"><li><i class="icon-github"></i> GitHub</li></a>
		<a target="_top" href="/docs/contact"><li><i class="icon-mail"></i> Contact</li></a>
		<a target="_top" href="/app" class="login-cutout background-before"><li class="login"><i class="icon-user"></i> Login</li></a>
	</ul>
</div>