<div class="bar">
	<img class="hanger" alt="" src="/images/logo-hanger.svg">
	<a target="_top" href="/"><img class="logo" alt="Airborn OS" src="/images/logo.png"></a>
	<div class="menu-button needsfocus" tabindex="0" onclick=""><i class="icon-menu"></i> Menu <i class="icon-play"></i></div>
	<ul class="menu background-before">
		<li><a target="_top" href="/plans"><i class="coins"><i class="icon-circle"></i><i class="icon-circle"></i></i> Plans</a></li>
		<li><a target="_top" href="/demo" class="demo-button"><i class="icon-play"></i> Demo<span class="live">live</span></a></li>
		<li><a target="_top" href="/register"><i class="icon-user"></i> Register</a></li>
		<li><a target="_top" href="{{FORKME_URL}}"><i class="icon-github"></i> GitHub</a></li>
		<li><a target="_top" href="mailto:info@airbornos.com"><i class="icon-mail"></i> Contact</a></li>
		<li class="login-cutout background-before"><a target="_top" href="/app" class="login"><i class="icon-lock"></i> Login</a></li>
	</ul>
</div>