#plans {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -120px;
	text-shadow: none;
}
.plan {
	display: flex;
	flex-direction: column;
	width: 340px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
	vertical-align: top;
	margin: 30px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	font-weight: bold;
}
.plan div {
	padding: 0 30px;
}
.plan .header {
	font-size: large;
	margin-top: 20px;
}
.plan .features {
	flex-grow: 1;
}
.plan .features ul {
	list-style: none;
	padding-left: 2em;
}
.plan .features ul li {
	padding-bottom: .5em;
	min-height: 2em;
	vertical-align: middle;
}
.plan .features ul li .icon {
	position: absolute;
	margin-left: -30px;
	color: green;
}
.plan .features ul li .icon:before {
	width: 1.2em;
	font-size: large;
}
.plan .price {
	margin-bottom: 1rem;
}
.plan a {
	color: #10677A;
	text-decoration: none;
	border-radius: inherit;
}
.plan .purchase {
	background: white;
	background: repeating-linear-gradient(-55deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .6) 10px, rgba(255, 255, 255, .8) 10px, rgba(255, 255, 255, .8) 20px);
	padding-top: 8px;
	padding-bottom: 8px;
	position: relative;
	border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.plan a .purchase:after {
	content: '➡';
	position: absolute;
	right: 12px;
	color: green;
	opacity: .8;
}
@media (max-width: 900px) {
	#plans {
		flex-direction: column;
		align-items: center;
	}
}