* {
	box-sizing: border-box;
}
#logo {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -123px;
	margin-top: -179px;
}
#plans {
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -120px;
	text-align: center;
	padding: 0 calc((100% - 730px) / 2);
}
.plan {
	width: 340px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	text-align: left;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.plan div {
	padding: 0 30px;
}
.plan .header {
	font-size: large;
	font-weight: bold;
	margin-top: 20px;
}
.plan .footnote {
	margin-bottom: 1rem;
	font-size: small;
}
.plan a {
	color: black;
	text-decoration: none;
	border-radius: inherit;
}
.plan .purchase {
	background: white;
	background: repeating-linear-gradient(-55deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .6) 10px, rgba(255, 255, 255, .8) 10px, rgba(255, 255, 255, .8) 20px);
	padding-top: 8px;
	padding-bottom: 8px;
	position: relative;
	border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.plan a .purchase:after {
	content: '⇨';
	font-weight: bold;
	position: absolute;
	right: 12px;
}
#links-container {
	position: absolute;
	margin-top: 10px;
	left: 0;
	text-align: center;
	width: 100%;
	color: #E1E7EA;
	font-size: small;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}
#links-container a {
	color: #E1E7EA;
}