* {
	box-sizing: border-box;
}
body {
	background-color: #607B8B;
	font-family: sans-serif;
	margin: 0;
}
#logo {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -123px;
	margin-top: -179px;
}
#plans {
	width: 850px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -120px 0 0 -425px;
	text-align: center;
}
.plan {
	width: 400px;
	padding: 20px 30px;
	background-color: #E1E7EA;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	text-align: left;
}
.plan .header {
	font-size: large;
	font-weight: bold;
	margin-bottom: 10px;
}
.plan .footnote {
	margin-top: 10px;
	font-size: small;
}