* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
}
body {
	background-color: #607B8B;
	font-family: sans-serif;
}
#logo {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -123px;
	margin-top: -179px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
td {
	padding: 5px 0;
}
label {
	font-size: small;
	margin-right: 8px;
}
#container {
	width: 410px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -120px 0 0 -205px;
	padding: 20px 30px;
	background-color: #E1E7EA;
	border-radius: 10px;
}
#username, #password, #password-again, #email {
	width: 100%;
}
#download-creds-explanation, #double-check-email {
	font-size: small;
}
#download-creds {
	padding: 1px 20px;
}
#notify-of-updates, #agree-terms {
	position: relative;
	top: 3px;
	margin: 0;
}
#captcha-td {
	padding-top: 7px;
}
#ready, #error {
	display: none;
	font-size: small;
	padding-top: 8px;
}
#error {
	color: red;
}
#register {
	float: right;
	padding: 1px 20px;
}
#current-step {
	display: none;
	position: absolute;
	margin-left: -22px;
}
#links-container {
	position: absolute;
	margin-top: 35px;
	margin-left: -30px;
	text-align: center;
	width: 100%;
	color: #E1E7EA;
	font-size: small;
}
#links-container a {
	color: #E1E7EA;
}

.visualCaptcha {
	margin: 0;
	min-height: 0;
}
.accessibility-description, .visualCaptcha-explanation, .status.valid {
	background-color: transparent;
	color: black;
	padding: 0;
	margin: 0 0 10px;
}
.visualCaptcha-possibilities .img {
	padding: 4px;
	padding-bottom: 0;
	border: none;
}
.visualCaptcha-possibilities .img.visualCaptcha-selected {
	background-color: transparent;
	border: 2px solid #607B8B;
	margin: -2px;
}
.window {
	width: 100%;
	height: 100%;
	position: absolute;
}
.window iframe {
	width: 100%;
	height: 100%;
	border: 0;
}