body {
	padding: 100px calc((100% - 800px) / 2) 100px;
}
.bar, .background {
	left: 0;
}
#container {
	width: calc(100% - 20px);
	position: relative;
	padding: 1px 30px 10px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 100px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	text-shadow: none;
}