* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
}
#container {
	width: 260px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -105px 0 0 -130px;
	padding: 20px 30px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	text-shadow: none;
}
#explanation {
	font-size: smaller;
}
#username, #password, #update {
	width: 100%;
	margin: 5px 0;
}
.window {
	width: 100%;
	height: 100%;
	position: absolute;
}
.window iframe {
	width: 100%;
	height: 100%;
	border: 0;
}