body {
	padding: 100px calc((100% - 1000px) / 2) 100px;
}
.bar, .background {
	left: 0;
}
#container {
	width: calc(100% - 200px);
	position: relative;
	padding: 1px 30px 10px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
	margin: 53px 10px 100px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	text-shadow: none;
}
#container:after {
	content: '';
	clear: both;
	display: block;
}
#container img {
	float: right;
	position: relative;
	padding: 10px;
}
@media (min-width: 769px) {
	#container img {
		margin: 0 -200px 0 20px;
	}
	#container img.security {
		margin-top: calc(-100% + 300px);
		margin-bottom: 50px;
	}
}
@media (max-width: 768px) {
	#container {
		width: calc(100% - 20px);
	}
	#container img {
		max-width: 100%;
	}
}